extends layout 

block content
  section.categoryForm
    .formContainer 
      h1= title
      form(action="", method="post", enctype="multipart/form-data")
        .group 
          label(for= "name") Enter the Category 
          input(name = "name", id = "name", value = `${category === undefined ? "" : category.name}`,placeholder = "Name", type = text, required) 
        .group 
          label(for= "description") Enter the Description 
          textarea(cols="50", rows="5",name = "description", id = "description",Placeholder = "Add a description", required)= category === undefined ? "" : category.description
        .group 
              label(for="categoryFile") Upload an Image 
              input(type="file", name="categoryFile",id = "categoryFile")
              p image file does not persist when page is reloaded due to some error
        button.button(button = "submit") Create Category
        if errors
          ul
            for error in errors
              li.error!= error.msg 
    .imageContainer
      if image
        img(src= `data:${image.contentType};base64,${image.data}`, alt="category Image") 
        p This is your saved Image
      else 
        img(src="Baking.svg", alt="Baking")

    