extends layout 

block content
   section.itemDetails
      .details
         h1=  `${item.name}`
         p= `${item.description}`
         .detailBlock
            p Price 
            span :
            p= `${item.price}`
         .detailBlock
            p Number in Stock
            span : 
            p= `${item.numberinstock}`
         .detailBlock
            p Category 
            span :  
            p= `${item.category.name}`
         .buttonsContainer
            a.button(href= item.url + "/delete") Delete Item
            a.button(href=item.url + "/update") Update Item
      .imageContainer      
         if item.image.data 
            img(src= `data:${item.image.contentType};base64,${item.image.data}`, alt=item.name) 
