extends layout 

block content 
 h1= title 
 form(action="", method="post") 
    .formGroup 
        label(for = "name") Name 
        input(name = "name", id = "name", value = `${item === undefined ? "" : item.name}`, required)
    .formGroup 
        label(for = "description") Description 
        textarea(name = "description", id = "description", required)= item === undefined ? "" : item.description
    .formGroup 
        label(for = "price") Price 
        input(type="number", name="price",id = "price",value = `${item === undefined ? "" : item.price}`,required, min = 0)
    .formGroup 
        label(for = "numberinstock") Number in Stock 
        input(type="number", name="numberinstock",id = "numberinstock",value = `${item === undefined ? "" : 
         item.numberinstock}`, required, min = 0)
    .formGroup 
        label(for = "category") Select a Category 
        select(name="category", id = "category", placeholder = "Please select a category", required)
           - categories.sort(function(a,b) {return a.name > b.name ? 1 : a.name < b.name ? -1 : 0;})
             for category in categories
                if book
                    option(value= category._id, selected = (category._id.toString() ===                 
                     item.category._id.toString() || category._id.toString() == item.category ? "selected" : 
                      false) )= category.name  
                else 
                    option(value= category._id)= category.name 
    button(type="submit") Submit 
 if errors
    ul
      for error in errors
        li!= error.msg               