extends layout 

block content
    section.items
        h1= title 
        ul.list 
            each item in items_list 
                li 
                    a.link(href= item.url)
                        .block
                            img(src=`data:${item.image.contentType};base64,${item.image.data}`, alt=item.name)
                            p= item.name
                            img.open(src="Open.svg", alt="Open Item") 

        